.post-container img
{
    width:100%;
}

.img-container
{
    padding:10px;
    background-color:#fff;
    -webkit-box-shadow: 0 0 4px 0 #000000;
    box-shadow: 0 0 4px 0 #000000;  
    border-radius:3px;
}

.img-container-ads
{
    padding:10px;
    background-color:#fff;
    -webkit-box-shadow: 0 0 4px 0 #000000;
    box-shadow: 0 0 4px 0 #000000;  
    border-radius:3px;
    margin-top:10px;
    margin-bottom:10px;
}

.img-container-ads img
{
    width:100%;
}

.post-tool
{
    padding:20px;
}

.like
{
    margin-top:-5px;
    margin-left:5px;
    margin-right:5px;
    float:right;
}

.circle-color-full:hover
{
    background-color: #63911F;
}

header{
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0px;
}

body{
	margin-top: 90px
}

.span4{
    margin-left: 80px; 
}

#footer
{
    text-align:center;
    padding:20px;
}

.content-container
{
    padding-top:80px;
}

.main-container
{
    margin-top:-90px;
}
